<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title >HOMEPAGE</title>
		<style>
			div{
				display:flex;
				flex-direction: column;
			}
		</style>
	</head>
	<body>
		<h1>Login effettuato con successo. Cosa vuoi fare?</h1>
		
		<div>
			<a href="/logout">Clicca qui per poter effetuare il logout</a>
			<a href="/utenti">Clicca qui per poter vedere la lista utenti</a>
			<a href="/dispositivi">Clicca qui per poter vedere la lista dei dispositivi</a>
		</div>
	</body>
</html>